<div>
  <mat-input-container style="width: 100%;">
    <input *ngIf="!isPassword" type="text" [formControl]="control" matInput [placeholder]="placeholder">
    <input *ngIf="isPassword" type="password" [formControl]="control" matInput [placeholder]="placeholder">
  </mat-input-container>
  <div *ngIf="control.errors">
    <mat-error *ngIf="control.errors && control.errors.required && (control.touched || submitted)">
      This field is required
    </mat-error>
    <mat-error *ngIf="control.errors && control.errors.email && (control.touched || submitted)">
      This is not a valid email
    </mat-error>
  </div>
</div>
