<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

  <app-form-control [control]="form.controls['name']" [placeholder]="'Name'" [submitted]="submitted"></app-form-control>

  <div>

    <md-input-container>
      <input type="text" mdInput formControlName="address" placeholder="Address" [mdAutocomplete]="auto">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let place of places" [value]="place.description"
                 (click)="selectPlace(place)" (keydown.enter)="selectPlace(place)">
        {{ place.description }}
      </md-option>
    </md-autocomplete>
    <div *ngIf="form.controls['address'].errors">
      <md-error *ngIf="form.controls['address'].errors.required && (form.controls['address'].touched || submitted)">
        This field is required
      </md-error>
    </div>
  </div>


  <app-form-control [control]="form.controls['mobilePhone']" [placeholder]="'Mobile'" [submitted]="submitted"></app-form-control>

  <div>
    <md-input-container>
      <textarea formControlName="problem" mdInput placeholder="Problem" rows="6" cols="35"></textarea>
    </md-input-container>
    <div *ngIf="form.controls['problem'].errors">
      <md-error *ngIf="form.controls['problem'].errors.required && (form.controls['problem'].touched || submitted)">
        This field is required
      </md-error>
    </div>
  </div>

  <div>
    <md-select placeholder="Marker Color" formControlName="colorMarker">
      <md-option *ngFor="let color of colors" [value]="color.id" [style.background]="color.color">
        {{ color.name }}
      </md-option>
    </md-select>
  </div>

  <div>
    <md-input-container>
      <textarea formControlName="comment" mdInput placeholder="Comment" rows="6" cols="35"></textarea>
    </md-input-container>
    <div *ngIf="form.controls['comment'].errors">
      <md-error *ngIf="form.controls['comment'].errors.required && (form.controls['comment'].touched || submitted)">
        This field is required
      </md-error>
    </div>
  </div>

  <div class="alert-danger">
    <md-input-container>
      <input mdInput [mdDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
    <div *ngIf="form.controls['date'].errors">
      <div *ngIf="form.controls['date'].errors.required && (form.controls['date'].touched || submitted)">
        This field is required
      </div>
    </div>
  </div>

  <div>
    <md-select placeholder="From" formControlName="timeFrom">
      <md-option *ngFor="let time of times" [value]="getNormalTimeFromAmPm(time)">{{ time.time }} <sup>{{ time.type }}</sup>
      </md-option>
    </md-select>

    <md-select placeholder="To" formControlName="timeTo">
      <md-option *ngFor="let time of times" [value]="getNormalTimeFromAmPm(time)">{{ time.time }} <sup>{{ time.type }}</sup>
      </md-option>
    </md-select>
  </div>

  <div>
    <md-select placeholder="User" formControlName="user">
      <md-option *ngFor="let user of users" [value]="user.id">
        {{ user.firstName + ' ' + user.lastName }}
      </md-option>
    </md-select>
  </div>


  <div>
    <button md-raised-button type="submit">Submit</button>
  </div>

</form>
