<form (ngSubmit)="onSubmit(form.value)">

  <md-card>
    <md-card-header>Login</md-card-header>

    <app-form-control [control]="form.controls['username']" [submitted]="submitted" [placeholder]="'Username'">
    </app-form-control>

    <app-form-control [control]="form.controls['password']" [submitted]="submitted" [placeholder]="'Password'"
                      [isPassword]="true"></app-form-control>

    <div>
      <button type="submit" md-raised-button> Log in </button>
    </div>

  </md-card>

</form>
