<form class="login-form" (ngSubmit)="onSubmit(form.value)" style="height: 100%;">

  <md-card class="login-main-div">
    <md-card-header class="login-div">Login</md-card-header>

    <app-form-control [control]="form.controls['username']" [submitted]="submitted" [placeholder]="'Username'">
    </app-form-control>

    <app-form-control [control]="form.controls['password']" [submitted]="submitted" [placeholder]="'Password'"
                      [isPassword]="true"></app-form-control>

    <div>
      <button class="login-btn" type="submit" md-raised-button> Log in </button>
    </div>

  </md-card>

</form>
