<p>You are about to delete a user. This action cannot be cancelled. All orders assigned to this user wil be automatically reassigned to the default user</p>
<button mat-raised-button type="button" *ngIf="!confirmed" (click)="confirmed = true">Yes</button>
<button mat-raised-button type="button" *ngIf="!confirmed" (click)="reject()">No</button>

<form autocomplete="off">
  <p *ngIf="confirmed">
      Please enter your password to confirm your identity for a sensitive action <br/>
      <mat-input-container>
        <input matInput type="password" placeholder="Password" #password />
      </mat-input-container>
      <button mat-raised-button type="button" (click)="delete(password.value)" [disabled]="!password.value.length">Delete</button>
  </p>
</form>
