agm-map {
  height: 93vh;
  width: 100%;
}

app-header {
  width: 100% !important;
}

.float-left{
  float: left !important;
}

.example-card {
  width: 100%;
  float: right;
  z-index: 9 !important;
  position: relative;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 96vh;
  max-height: 96vh;
  padding-top: 15px !important;
}


.card-with-map{
  width: 1200px;
  float: left;
}

app-footer {
  /*position: absolute;*/
  /*bottom: 0px;*/
  width: 100%;
}

