<app-header (showNewOrderFormChange)="toggleShowNewOrderForm($event); listOfOrders.scrollTop = 0"
            [orderIds]="selectedOrderIds" [colors]="colors" [showNewOrderForm]="showNewOrderForm"
            (onArchived)="archived($event)" [archiveMode]="archiveMode" (shouldUpdateColors)="getColors()"
            (canArchivate)="archiveMode = $event" (shouldUpdateOrders)="getOrders()"></app-header>

<md-card class="card-with-map">
  <agm-map [zoom]="zoom"
    [latitude]="markerCoordinates ? markerCoordinates.lat : currentPlace.lat" [longitude]="markerCoordinates ? markerCoordinates.lng : currentPlace.lng"
    (mapRightClick)="setMarker($event)">

    <agm-marker *ngIf="markerCoordinates && markerCoordinates.lat && markerCoordinates.lng" [latitude]="markerCoordinates.lat"
                [longitude]="markerCoordinates.lng" [label]="(orders.length + 1).toString()"></agm-marker>

    <agm-marker *ngFor="let order of ((orders | ordersByID : idQuery) | ordersBySearch : search.query : search.colors : search.users); let i=index" [latitude]="order.lat" [iconUrl]="order.colorMarkerDetails.image"
                [longitude]="order.lng" [label]="order.notArchivedRank.toString()" #ref
                (markerClick)="changeOrderVisibility(order, ref); order.isVisible = true"
                [title]="getOrderTitle(order)"></agm-marker>
  </agm-map>

</md-card>


<div class="scrollable" #listOfOrders>
  <md-list>
    <md-card  *ngIf="showNewOrderForm" class="md-lav-card">

      <app-order-edit [(currentPlace)]="markerCoordinates" (orderUpdated)="getOrders(); resetMarkerToLastLocation(); showNewOrderForm = false"
                      [colors]="colors" [users]="users"></app-order-edit>

    </md-card>

    <div *ngIf="archiveMode">
      <md-checkbox [(ngModel)]="allSelected" (change)="selectAll()">Select All</md-checkbox>
      <md-checkbox [(ngModel)]="selectFromMode" (change)="selectFromModeOn()">Select From</md-checkbox>
      <md-checkbox [(ngModel)]="selectToMode" (change)="selectToModeOn()">Select To</md-checkbox>
    </div>

    <p-multiSelect [options]="colors | map : mapColorsToSelectItem" [(ngModel)]="search.colors" defaultLabel="Colors"></p-multiSelect>
    <p-multiSelect class="user-select" [options]="users | map : mapUsersToSelectItem" [(ngModel)]="search.users" defaultLabel="Users"></p-multiSelect>
    <br>
    <md-input-container>
      <input autocomplete="off" [(ngModel)]="search.query" placeholder="Search" mdInput/>
    </md-input-container>

    <md-input-container>
      <input type="number" autocomplete="off" [(ngModel)]="idQuery" placeholder="Search by Rank" mdInput/>
    </md-input-container>

    <ng-container *ngFor="let order of ((orders | ordersByID : idQuery) | ordersBySearch : search.query : search.colors : search.users); let i=index">
        <app-order-view [index]="order.notArchivedRank" [order]="order" (orderMadeVisible)="changeOrderVisibility(order)"
                        [archiveMode]="archiveMode" (orderSelected)="orderHasBeenSelected($event)"
                        [colors]="colors" [users]="users" (orderUpdated)="getOrders()"></app-order-view>
    </ng-container>
  </md-list>
</div>

<app-footer (userCreated)="getUsers()" (userDeleted)="getUsers()"></app-footer>
