agm-map {
  height: 96.3vh;
  width: 100%;
}

app-header {
  width: 100% !important;
}

.float-left{
  float: left !important;
}

.example-card {
  width: 100%;
  float: right;
  z-index: 9 !important;
  position: relative;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 95.2vh;
  max-height: 95.2vh;
  padding-top: 45px;
}

.md-multiselect .md-multiselect-container {
  position: relative;
  display: block;
  width: 70px !important;
  float: left;
}
.petq {
  float: right;
}
.card-with-map{
  width: 1200px;
  float: left;
}

app-footer {
  /*position: absolute;*/
  /*bottom: 0px;*/
  width: 100%;
}

/deep/.ui-multiselect {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 200px !important;
}
.user-select {
  margin-left: 45px !important;
}

/deep/ .mat-toolbar-row {
       height: 0 !important;
       }


.md-lav-card {
  z-index: 1;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  padding-bottom: 15px !important;
}

/*responsive*/
@media screen and (max-width:1550px){
  /deep/.ui-multiselect {
    display: block;
  }
  }
@media screen and (max-width:1110px){
  .scrollable[_ngcontent-c1] {
    padding-top: 95px;
  }
}
@media screen and (max-width:650px){
  .scrollable[_ngcontent-c1] {
    padding-top: 5px;
    padding-left: 5px;
    float:left;
  }
  .card-with-map {
    width: 100% !important;
  }
}

