<app-header (showNewOrderFormChange)="toggleShowNewOrderForm($event)" [colors]="colors"></app-header>

<md-card class="card-with-map">
  <agm-map [zoom]="zoom"
    [latitude]="currentPlace ? currentPlace.lat : lat" [longitude]="currentPlace ? currentPlace.lng : lng"
    (mapDblClick)="moveMarker($event)">

    <agm-marker *ngIf="currentPlace" [latitude]="currentPlace.lat"
                [longitude]="currentPlace.lng"></agm-marker>

    <agm-marker *ngFor="let order of orders" [latitude]="order.lat" [iconUrl]="order.colorMarkerDetails.image"
                [longitude]="order.lng" label="{{ order.id }}" (markerClick)="changeOrderVisibility(order); order.isVisible = true"></agm-marker>
  </agm-map>

</md-card>


<md-card class="float-right example-card" *ngIf="showNewOrderForm">

  <app-order-edit [(currentPlace)]="currentPlace" (orderUpdated)="getOrders()"
                  [colors]="colors" [users]="users"></app-order-edit>

</md-card>

<md-list>
  <ng-container *ngFor="let order of orders">
      <app-order-view [order]="order" (orderMadeVisible)="changeOrderVisibility($event)"
                      [colors]="colors" [users]="users"></app-order-view>
  </ng-container>
</md-list>

<app-footer></app-footer>
