<app-header (showNewOrderFormChange)="toggleShowNewOrderForm($event)" [orderIds]="selectedOrderIds" [colors]="colors"></app-header>

<md-card class="card-with-map">
  <agm-map [zoom]="zoom"
    [latitude]="currentPlace ? currentPlace.lat : lat" [longitude]="currentPlace ? currentPlace.lng : lng"
    (mapDblClick)="setMarker($event)">

    <agm-marker *ngIf="markerCoordinates" [latitude]="markerCoordinates.lat"
                [longitude]="markerCoordinates.lng"></agm-marker>

    <agm-marker *ngFor="let order of orders" [latitude]="order.lat" [iconUrl]="order.colorMarkerDetails.image"
                [longitude]="order.lng" label="{{ order.id }}" #ref
                (markerClick)="changeOrderVisibility(order, ref); order.isVisible = true"
                [title]="order.name + ' ' + order.address"></agm-marker>
  </agm-map>

</md-card>


<md-list class="scrollable">
  <md-card  *ngIf="showNewOrderForm">

    <app-order-edit [(currentPlace)]="markerCoordinates" (orderUpdated)="getOrders()"
                    [colors]="colors" [users]="users"></app-order-edit>

  </md-card>
  <ng-container *ngFor="let order of orders">
      <app-order-view [order]="order" (orderMadeVisible)="changeOrderVisibility(order)"
                      [colors]="colors" [users]="users"></app-order-view>
  </ng-container>
</md-list>

<app-footer></app-footer>
