/deep/.ui-column-title {
  width: 3px;
}

.color-select {
  padding-top: 30px;
}

/deep/.ui-menubar {
  margin-bottom: 30px !important;
}

.outer-container {
  padding: 5px;
}

/deep/.ui-panel-titlebar {
  opacity: 0.7;
}
