<md-sidenav-container>
  <div class="left-part">
    <p-calendar dateFormat="mm/dd/yy" [(ngModel)]="dateRange" inline="true" selectOtherMonths="true" selectionMode="range"
                (onSelect)="selectedDate()" [locale]="en"></p-calendar>
    <md-list>
      <h4>Users</h4>
      <md-list-item *ngFor="let user of users">
        <md-checkbox [value]="user.id" [(ngModel)]="user.isSelected" (change)="selectUsers()">
          {{ user.firstName }} {{ user.lastName }}
        </md-checkbox>
      </md-list-item>
    </md-list>

    <md-list>
      <h4>Colors</h4>
      <md-list-item *ngFor="let color of colors">
        <md-checkbox [(ngModel)]="color.isSelected" (change)="selectUsers()">
          <span class="bordery" [style.border-color]="color.color">{{ color.name }}</span>
        </md-checkbox>
      </md-list-item>
    </md-list>
  </div>

  <div [ngClass]="{'right-part': !selectedOrder, 'middle-part': selectedOrder}">
    <p-dataTable *ngIf="calendar && calendar.length" [value]="calendar" [style]="{overflow: 'visible'}">
      <p-column field="time" header="Time" [style]="{'width': '53px'}">
        <ng-template pTemplate let-day="rowData">
          <div style="font-size: 12px !important;">{{ day.time.time }}<sup>{{day.time.type}}</sup></div>
        </ng-template>
      </p-column>

      <p-column *ngFor="let d of days; let i=index" [field]="d" [header]="dayNames[i] + ' ' + d" [style]="{overflow: 'visible'}">
        <ng-template pTemplate let-day="rowData">
          <ng-container *ngFor="let order of day[d].orders">
            <div class="order-cell" (contextmenu)="selectOrder(order, $event)" (click)="details.toggle($event)"
                 [style.background]="makeRGBWithAlpha(order.colorMarkerDetails.color)" [style.border-color]="order.colorMarkerDetails.color">
              <strong class="wrap" style="font-weight: bolder">{{order.rank }} {{ order.isArchived ? '' : ' / ' + order.notArchivedRank }}<br/> {{ order.name }}
                <md-icon style="cursor: pointer;  position: absolute; right: 0;font-size: 18px; width: 16px; top: -2px" (click)="deleteOrder($event, order)" title="Delete">close</md-icon>
              </strong>
            </div>
            <p-overlayPanel #details appendTo="body" [style]="{border: '4px solid ' + order.colorMarkerDetails.color, 'max-width': '700px'}">
              <p-header>
                <div style="text-align: center" class="noselect">
                  <button pButton icon="fa-check" *ngIf="order.isArchived" class="archived-button noselect" (click)="dearchiveOrder(order)"></button>
                  <button pButton icon="fa-circle" *ngIf="!order.isArchived" class="charchived-button noselect" (click)="archiveOrder(order)"></button>
                </div>
                <strong>{{ order.rank }} <br/> {{ order.name }}</strong>
              </p-header>
              <div class="comment-order" *ngIf="order.mobilePhone">
                <md-icon>phone</md-icon> {{ order.mobilePhones.join(', ') }}
              </div>
              <div class="comment-order" *ngIf="order.problem">
                <md-icon>warning</md-icon>
                {{ order.problem }}
              </div>
              <div class="comment-order" *ngIf="order.date || order.timeFrom || order.timeTo">
                <md-icon>update</md-icon>
                {{ order.date | date }} {{ order.timeFrom ? order.timeFrom : '' }}{{ order.timeTo ? (' - ' + order.timeTo) : '' }}
              </div>
              <div class="comment-order">
                <md-icon>person pin</md-icon>
                {{ (order.userDetails && order.userDetails.firstName ?  order.userDetails.firstName: '' ) + ' ' + (order.userDetails && order.userDetails.lastName ?  order.userDetails.lastName: '' )}}
              </div>
              <div class="comment-order" *ngIf="order.comment">
                <md-icon>comment</md-icon>
                {{ order.comment }}
              </div>
              <br/>
              <p-dropdown class="marker-color-modal" placeholder="Marker Color" [options]="colors | map : mapColorsToSelectItem"
                         [(ngModel)]="order.colorMarkerDetails.id" [style]="{'width': '20%'}" (ngModelChange)="updateOrderColor(order)">
              </p-dropdown>
            </p-overlayPanel>
          </ng-container>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>

  <div *ngIf="selectedOrder" class="outer-right">
    <md-icon style="cursor: pointer" (click)="selectedOrder = null">close</md-icon>
    <app-order-edit [order]="selectedOrder" [colors]="colors" [users]="users" (orderUpdated)="searchForOrders(); selectedOrder = null"></app-order-edit>
  </div>

  <button md-raised-button *ngIf="!sidenav.opened" type="button" (click)="sidenav.open()" class="hide-button">
    <md-icon>keyboard_arrow_left</md-icon>
  </button>
  <div *ngIf="doFilterOrders" class="most-right">
    <md-list class="scrollable-2">

    </md-list>
  </div>

  <md-sidenav #sidenav class="example-sidenav" mode="side" position="end" align="end">
    <md-icon style="cursor: pointer; font-size: 18px;" (click)="sidenav.close()">close</md-icon>
    <button md-raised-button (click)="deleteMultipleOrders()">Delete by date</button>
    <button md-raised-button (click)="enableArchiveModeOrDelete()" *ngIf="orders && orders.length">Delete</button>
    <button md-raised-button (click)="filterOrdersWithoutDate()">No Date</button>
    <div>
      <!--<form autocomplete="off">-->
        <div *ngIf="archiveMode && orders && orders.length">
          <md-checkbox [(ngModel)]="allSelected" (change)="selectAll()">Select All</md-checkbox>
          <md-checkbox [(ngModel)]="selectFromMode" (change)="selectFromModeOn()">Select From</md-checkbox>
          <md-checkbox [(ngModel)]="selectToMode" (change)="selectToModeOn()">Select To</md-checkbox>
        </div>
      <div style="width: 90px;
    float: left;
    text-align: center;">
        <p-multiSelect defaultLabel="Color" [options]="colorItems" [(ngModel)]="search.colors" (ngModelChange)="massFilterOrders()">
        </p-multiSelect>
        </div>
        <div style="min-width: 100%; margin-top: 10px">
          <p-calendar showIcon="true" dateFormat="mm/dd/yy" [(ngModel)]="search.date" (ngModelChange)="massFilterOrders()"></p-calendar>
        </div>
        <div>
          <md-input-container>
            <input mdInput placeholder="Search" [(ngModel)]="search.search" (ngModelChange)="massFilterOrders()"/>
          </md-input-container>
        </div>
      <!--</form>-->
    </div>

    <ng-container *ngFor="let order of orders; let i=index">
      <app-order-view [index]="order.rank" [order]="order" (orderMadeVisible)="changeOrderVisibility(order)"
                      [archiveMode]="archiveMode" (orderSelected)="orderHasBeenSelected(i)"
                      [colors]="colors" [users]="users"></app-order-view>
    </ng-container>
  </md-sidenav>

</md-sidenav-container>
